html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

/**
 * Countdown
 *
 * Inspired by Daily UI 014 - Countdown Timer by Caroline
 * https://dribbble.com/shots/5755661-Daily-UI-014-Countdown-Timer
 */
.cd {
  font-family: menlo;
  width: 30rem;
  margin: 8rem auto;
  background-color: teal;
  color: #fff;
  padding: 5rem;
  box-shadow: 0 2rem 2rem -0.5rem #00000070;
}

.cd__display {
  --size: 20rem;
  width: var(--size);
  height: var(--size);
  margin: 0 auto 6rem;
  border-radius: 50%;
  border: 10px solid #ffffff20;
  /* centralize */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cd__time {
  font-size: 50px;
}

.cd__ms {
  font-size: 24px;
  opacity: 0.5;
}
